<!-- Header area -->
<div id="header-wrapper" class="header-slider">
    <header class="clearfix">
        <div class="logo">
            <img src="/images/logo.png" alt="Pronto" />
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="main-flexslider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <p class="home-slide-content">
                                    We love <strong>simplicity</strong>
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    One Touch <strong>Ordering</strong>
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    Love <strong>coffee</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>
    </header>
</div>
<!-- spacer section -->
<section id="about" class="spacer orange">
    <div class="container">
        <div class="row">
            <div class="span7 alignright flyLeft">
                <blockquote class="large">
                    What is it?
                </blockquote>
                <h3 class="textwhite">Pronto is a Wi-Fi connected device that reorders your favorite coffee with the press of a button. Each Pronto is paired with a coffee of your choice.</h3>
            </div>
            <div class="span3 aligncenter flyRight">
                <img src="/images/devices/mocha.png" alt="Pronto device">
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->
<!-- spacer section -->
<section id="about" class="spacer green">
    <div class="container">
        <div class="row">
          <div class="span4 aligncenter flyLeft">
            <i class="icon-coffee icon-10x"></i>
          </div>
            <div class="span6 alignright flyRight">
                <blockquote class="large">
                    Ordering made easy at the touch of a button
                </blockquote>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->
<!-- section: features -->
<section id="howitworks" class="section spacer bg3">
    <div class="container">
        <h4 class="textwhite">How it works</h4>
        <!-- three columns -->
        <div class="row">
            <div class="span3 animated flyIn aligncenter">
                <div class="service-box">
                    <i class="icon-power-off icon-5x icon-white"></i>
                    <h3 class="textwhite">Press the device button</h3>
                </div>
            </div>
            <div class="span3 animated-fast flyIn aligncenter">
              <div class="service-box">
                <i class="icon-cloud-upload icon-5x icon-white"></i>
                <h3 class="textwhite">Order sent through the cloud</h3>
              </div>
            </div>
            <div class="span3 animated-fast flyIn aligncenter">
                <div class="service-box">
                    <i class="icon-truck icon-5x icon-white"></i>
                    <h3 class="textwhite">Next Day Delivery</h3>
                </div>
            </div>
            <div class="span3 animated flyIn aligncenter">
                <div class="service-box">
                    <i class="icon-coffee icon-5x icon-white"></i>
                    <h3 class="textwhite">Enjoy</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section: services -->
<!-- section: products -->
<section id="products" class="section green">
    <div class="container">
        <h4>Our Products</h4>
        <div class="row">
            <div class="span10 offset1 slick_slider">
                <% devices.forEach(function (device) { %>
                    <div><img src="<%= device.imageUrl %>" alt="Pronto device" /></div>
                    <% }) %>
            </div>
        </div>
    </div>
</section>
