<!-- Header area -->
<div id="header-wrapper" class="header-slider">
    <header class="clearfix">
        <div class="logo">
            <img src="/images/logo.png" alt="Pronto" />
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="main-flexslider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <p class="home-slide-content">
                                    We love <strong>simplicity</strong>
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    One Touch <strong>Ordering</strong>
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    Drink <strong>coffee</strong>
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    Drink <strong>coffee</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>
    </header>
</div>
<!-- spacer section -->
<section id="about" class="spacer green">
    <div class="container">
        <div class="row">
            <div class="span6 alignright flyLeft">
                <blockquote class="large">
                  Ordering made easy at the touch of a button
                </blockquote>
            </div>
            <div class="span6 aligncenter flyRight">
                <i class="icon-coffee icon-10x"></i>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->
<!-- section: features -->
<section id="features" class="section orange">
    <div class="container">
        <h4>Features</h4>
        <!-- three columns -->
        <div class="row">
            <div class="span4 animated-fast flyIn aligncenter">
                <div class="service-box">
                    <i class="icon-cloud-upload icon-10x icon-white"></i>
                    <h2>Convenient</h2>
                </div>
            </div>
            <div class="span4 animated flyIn aligncenter">
                <div class="service-box">
                    <i class="icon-coffee icon-10x icon-white"></i>
                    <h2>More than 100 products</h2>
                </div>
            </div>
            <div class="span4 animated-fast flyIn aligncenter">
                <div class="service-box">
                    <i class="icon-truck icon-10x icon-white"></i>
                    <h2>Next Day Delivery</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section: services -->
<!-- section: products -->
<section id="products" class="section green">
  <div class="row">
  <div class="span10 offset1 slick_slider">
    <% products.forEach(function (product) { %>
      <div><img src="<%= product.imageUrl %>" alt="<%= product.title %>" /></div>
      <% }) %>
</div>
</div>
</section>
<!-- spacer section -->
<section class="spacer bg3">
    <div class="container">
        <div class="row">
            <div class="span12 aligncenter flyLeft">
                <blockquote class="large">
                    We are an established and trusted supply chain company with a commitment to quality product and service
                </blockquote>
            </div>
            <div class="span12 aligncenter flyRight">
                <i class="icon-refresh icon-10x"></i>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->

<!-- section: contact -->
<section id="contact" class="section green">
    <div class="container">
        <h4>Sign Up</h4>
        <h5>
		        and receive your first order free on the house
	     </h5>
        <div class="blankdivider30">
        </div>
        <div class="row">
            <div class="span6 offset3">
                <div class="cform" id="contact-form">
                    <div id="sendmessage">Your registration has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="row">
                            <div class="span6">
                                <div class="field your-name form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="field your-email form-group">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <input type="submit" value="Send message" class="btn btn-theme pull-left">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ./span12 -->
        </div>
    </div>
</section>
