<div class="container">
  <h1 class="page-header">Orders</h1>

<ul class="list-group">
  <% orders.forEach(function (order) { %>
    <li class="list-group-item">
      <strong><%= order.order %>: </strong>
    </li>

    // <li class="list-group-item">
    //   <strong><%= order.deviceId %>: </strong>
    //   <%= order.description %>
    //   || Completed:
    //   <% if (order.completed == true) { %>
    //     <span class="label label-success">True</span>
    //   <% } else if (order.completed == false) { %>
    //     <span class="label label-danger">False</span>
    //   <% } %>
    //   <a class="pull-right" href=<%= "/order/" + order._id %>>View</a>
    // </li>
  <% }) %>
</ul>

</div>
