<% include ../partials/header_customer %>
<section class="section green">
    <div class="container">
        <div class="row">
                <% customers.forEach(function (customer) { %>
                  <div class="span5 paddingsmall">
                    <p><strong>Customer: </strong><%= customer.fullName %></p>
                    <p><strong>Email: </strong><%= customer.email %></p>
                    <p><strong>Contact Number : </strong><%= customer.contactNumber %></p>
                    <p><a class="pull-right btn btn-info" href=<%="/customer/" + customer._id %>>View</a></p>
                    </div>
                    <% }) %>
        </div>
    </div>
</section>
