<% include ../partials/header_customer %>
<section class="section green">
    <div class="container">
        <div class="row">
          <div class="span5">
            <h1><%=customer.fullName%></h1>
            <p><strong>Name: </strong><%= customer.fullName %></p>
            <p><strong>Devices owned: </p>
            <a class="btn btn-info" href=<%="/customer/" + customer._id + "/edit" %>>Edit</a>

            <form class="deleteForm " method="POST" action=<%="/customer/" + customer._id + "?_method=DELETE" %>>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
    </div>
</section>
